.greenDialog .modal-content {
    background-color: mediumseagreen;
    color: white;
    border-radius: 30px;
}

.greenDialog .dialog-button {
    color: mediumseagreen;
}

.redDialog .modal-content {
    background-color: indianred;
    color: white;
    border-radius: 30px;
}

.redDialog .dialog-button {
    color: indianred;
}

.QuizPage {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}